*{
    margin:0px;
    padding:0px;
}
.background{
    background-image: url("battle.jpg");
 height:200px;
 width:100%;

}
.background h3{
    position: absolute;
    top:60px;
    left:400px;
    font-size: 60px;
    color:white;
   
}
#battle{
    background-color:black;
    border:2px solid red;
}
#start{
    position:absolute;
    top:300px;
    left:300px;
    background-color: white;
    border:2px solid blue;
    height:300px;
    width:50%;
}
.rules{
    margin:30px;
    padding:10px;
    background-color: greenyellow;
    font-size: 20px;
}
.start{
    margin-left:240px;
    align-items: center;
    border:2px solid blue;
    border-radius:30px;
    background-color: rgb(34, 109, 223);
    width:10%;
    padding-left:20px;
    padding-top:20px;
    height:40px;
}
#end{
    position:absolute;
    top:300px;
    left:300px;
    background-color:chartreuse;
    height:200px;
    width:50%;
}
.restart{
    margin-left:100px;
    margin-top:40px;
    padding-left:20px;
    padding-top:10px;
    height:40px;
    width:30%;
    font-weight: bold;
    font-size: 40px;
    background-color: chocolate;
}
.score{
    font-size: 50px;
    font-weight: bold;
    margin-left:160px;
}
